<%= simple_form_for @student, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :age, :collection => 6..100, :prompt => "Select..." %>
  <%= f.input :gender, :collection => gender_types, :prompt => "Select..." %>
  <%= f.input :email %>
  <%= f.association :klass, :label => "Class", :include_blank => false %>

  <div class="alert alert-info">
    <%= f.button :submit, :value => "Save", :class => "btn btn-primary" %>
    <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>
