<div class="row">
  <h2 class="span8"><%= @student.name %></h2>

  <div class="span4">
    <div class="btn-group pull-right">
      <%= link_to "Edit Student", edit_student_path, :class => "btn btn-primary" %>
      <%= link_to "List All", students_path, :class => "btn" %>
      <%= link_to "New Student", new_student_path, :class => "btn" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="well">
      <ul>
        <li><strong>Age:</strong> <%= @student.age %></li>
        <li><strong>Gender:</strong> <%= @student.gender %></li>
        <li><strong>Email:</strong> <%= mail_to @student.email %></li>
        <li><strong>Class:</strong> <%= @student.klass.name %></li>
      </ul>
    </div>
    <div class="pull-right">
      <small>Created at <%= @student.created_at %></small> | <small>Updated at <%= @student.updated_at %></small>
    </div>
  </div>
</div>
