<div class="row">
  <h2 class="span8"><%= @subject.name %></h2>

  <div class="span4">
    <div class="btn-group pull-right">
      <%= link_to "Edit Subject", edit_subject_path, :class => "btn btn-primary" %>
      <%= link_to "List All", subjects_path, :class => "btn" %>
      <%= link_to "New Subject", new_subject_path, :class => "btn" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="well">
      <ul>
        <li><strong>Area:</strong> <%= @subject.area %></li>
        <li><strong>Content:</strong> <%= @subject.content %></li>
      </ul>
    </div>
    <div class="pull-right">
      <small>Created at <%= @subject.created_at %></small> | <small>Updated at <%= @subject.updated_at %></small>
    </div>
  </div>
</div>

