<div class="row">
  <h2 class="span8"><%= @teacher.name %></h2>

  <div class="span4">
    <div class="btn-group pull-right">
      <%= link_to "Edit Teacher", edit_teacher_path, :class => "btn btn-primary" %>
      <%= link_to "List All", teachers_path, :class => "btn" %>
      <%= link_to "New Teacher", new_teacher_path, :class => "btn" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="well">
      <ul>
        <li><strong>Age:</strong> <%= @teacher.age %></li>
        <li><strong>Gender:</strong> <%= @teacher.gender %></li>
        <li><strong>Email:</strong> <%= mail_to @teacher.email %></li>
      </ul>
    </div>
    <div class="pull-right">
      <small>Created at <%= @teacher.created_at %></small> | <small>Updated at <%= @teacher.updated_at %></small>
    </div>
  </div>
</div>
