<div class="span12">
  <%= simple_form_for @klass, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.input :name %>
    <%= f.input :shift %>
    <%= f.input :term %>
    <%= f.input :year %>

    <fieldset>
      <%= f.simple_fields_for :subjects do |a| %>
        <%= a.input :name %>
        <%= a.input :teacher %>
      <% end %>
    </fieldset>

    <div class="alert alert-box">
      <%= f.button :submit, :value => "Save", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
