<div class="row">
  <h2 class="span8"><%= @klass.name %></h2>

  <div class="span4">
    <div class="btn-group pull-right">
      <%= link_to "Edit Class", edit_klass_path, :class => "btn btn-primary" %>
      <%= link_to "List All", klasses_path, :class => "btn" %>
      <%= link_to "New Class", new_klass_path, :class => "btn" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="well">
      <ul>
        <li><strong>Shift:</strong> <%= @klass.shift %></li>
        <li><strong>Term:</strong> <%= @klass.term %></li>
        <li><strong>Year:</strong> <%= @klass.year %></li>
        <li><strong>Subjects:</strong></li>
        <ul>
          <% @klass.schedules.each do |schedule| %>
            <li><strong><%= schedule.subject.name %>:</strong> <%= schedule.teacher.name %></li>
          <% end %>
        </ul>
      </ul>
    </div>
    <div class="pull-right">
      <small>Created at <%= @klass.created_at %></small> | <small>Updated at <%= @klass.updated_at %></small>
    </div>
  </div>
</div>

